<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.princek.gsmahakathon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tigoafrica"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumerActivity"
            android:label="@string/title_activity_consumer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgentActivity"
            android:label="@string/title_activity_agent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsumerWithdrawActivity"
            android:label="@string/title_activity_consumer_withdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsumerSendActivity"
            android:label="@string/title_activity_consumer_send"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsumerStatementActivity"
            android:label="@string/title_activity_consumer_statement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ThankYouActivity" />
        <activity
            android:name=".DepositActivity"
            android:label="@string/title_activity_deposit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>